/* Formatação de links */
section>.plano>.link2:hover{
    background: rgb(56, 56, 56);
    text-decoration: none;
    border-radius: 10px 20px;
}
.link2{
    font-family: sans-serif;
    color:gray;
    text-decoration: none; 
}
section>span>a:link, section>span>a:visited{ 
    color: blue;
    text-decoration:none;
    font-size: 20px;
    margin: 5px;
    padding: 15px;
}
section>span>a:hover{
    background: #39f;
    border-radius: 20px 40px ;
}
/* Planos */
.plano{
    display: inline-block;
    margin: 35px;
    padding: 15px;
    width: 100px;
    height: 100px;
    color: aqua;
    box-shadow:10px 10px 10px 10px yellow;
    font-size: 20px;
}